:root {
    /* COLOR PALETTE */
    --aa-color-n-050: #ffffff;
    --aa-color-n-100: #FFF5EE;
    --aa-color-n-150: #75FBC0;
    --aa-color-n-200: #5DC999;
    --aa-color-n-250: #d9c71f;
    --aa-color-n-300: #F7C200;
    --aa-color-n-350: #015490;
    --aa-color-n-600: #303030;
    --aa-color-n-650: #05171C;
    --aa-color-n-700: #000000;

    /* TYPOGRAPHY COLOR */
    --aa-typography-color-body: var(--aa-color-n-600);
    --aa-typography-color-header__btn: var(--aa-color-n-600);

    /* TYPOGRAPHY */
    --aa-typography-header: "Lato", sans-serif;
    --aa-typography-main: 'Roboto Condensed', sans-serif;
    --aa-typography-name: 'Stalinist One', cursive;

    /* TYPEFACE SIZE */
    /* PADDING */
    --aa-section-padding: 1.5rem 0;
    --aa-padding-base: 2rem;
    --aa-btn-padding: 0.75rem 1.5rem;

    /* GAP */
    --aa-gap: 2rem;

    /* BUTTON */
    --aa-border-header__btn: 0.13rem solid var(--aa-color-n-700);
    --aa-borde-radius: 3rem;

}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: var(--aa-color-n-100);
    color: var(--aa-typography-color-body);
    font-family: var(--aa-typography-main);
    margin: 0 auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

h1 {
    margin-left: 1rem;
    font-family: var(--aa-typography-name);
    text-transform: uppercase;
}

h2 {
    font-weight: 900;
    text-transform: uppercase;
    font-family: var(--aa-typography-main);
    font-size: 3rem;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: var(--aa-typography-color-body);
}

@media screen and (max-width: 48rem) {
    h2 {
        font-size: 2em;
    }
}

.aa-layout-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aa-layout-grid {
    display: grid;
}

.aa-bottom-division {
    border-bottom: 1.5px solid var(--aa-color-n-600);
}

.fa-angle-down {
    font-size: 3rem;
}

/* HEADER */
.aa-header {
    width: 100vw;
    min-height: 20%;
    font-family: var(--aa-typography-header);
}

.aa-header-upper {
    min-height: 6vh;
    justify-content: space-between;
    padding: 0.8rem 2rem 0.8rem 2rem;
}

.aa-header-icons a {
    font-size: 35px;
    padding-right: 1.5rem;
}

.aa-header-icons a:last-child {
    padding-right: 0;
}

.aa-header__nav__links {
    text-transform: uppercase;
    gap: var(--aa-gap);
}

.aa-hamburger-label,
.aa-hamburger {
    display: none;
}

.aa-header__nav__links__content {
    display: flex;
    flex-direction: column;
}

.aa-header__nav__links__content::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: var(--aa-color-n-600);
    position: relative;
    top: 5px;
    transition: all 0.45s ease-in-out;
}

.aa-header__nav__links__content:hover::after {
    width: 100%;
}

@media screen and (max-width: 48rem) {

    /* VERTICAL DISPLAY */
    .aa-header-upper {
        flex-direction: column;
    }

    /* SHOW HAMBURGER ICON */
    .aa-hamburger-label {
        display: inline-block;
        color: var(--aa-color-typography-body);
        font-style: normal;
        font-size: 1.9rem;
        padding: 0.6rem;
    }

    /* TOGGLE SHOW/HIDE NAV */
    .aa-header__nav {
        display: none;
    }

    /* WHEN CHECKED -> GENERAL SIBLING COMBINATOR */
    .aa-hamburger:checked~.aa-header__nav {
        display: block;
        padding: var(--aa-section-padding);
    }

    /* COLUMN NAV ITEMS */
    .aa-header__nav__links {
        flex-direction: column;
    }
}

.aa-header-btn {
    background-color: var(--aa-color-n-150);
    border: var(--aa-border-header__btn);
    border-radius: var(--aa-borde-radius);
    padding: var(--aa-btn-padding);
    margin: .8rem;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.aa-header-btn:hover {
    transform: scale(1.1);
}

.aa-header-name {
    font-size: 3.3vw;
    background-color: var(--aa-color-n-200);
}

/* ------------------------------------------- */
/* SECTION-01 */
.aa-section-upper {
    justify-content: space-around;
    padding: var(--aa-padding-base);
}

.aa-section-upper__text h3 {
    font-size: 2em;
    padding-bottom: 1.5rem;
}

.aa-section-upper__capture {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: var(--aa-border);
    border-radius: 2rem;
    margin: 1rem;
}

@media screen and (max-width: 48rem) {
    .aa-section-upper__capture {
        display: none;
    }

    .aa-header-name {
        font-size: 5vw;
    }

    .aa-section-upper__text h3 {
        font-size: 1.5em;
    }

    .aa-section-upper {
        justify-content: center;
    }
}

/* CERTIFICATIONS SECTION */
.aa-section-layout-certifications {
    padding: 2rem;
}

.aa-section-certifications {
    justify-content: space-evenly;
}

.aa-section-certifications article {
    margin: 1rem;
}

.fa-graduation-cap {
    font-size: 2.4rem;
}

.aa-section-certification--logo {
    width: 2.8rem;
    height: 2.8rem;
    padding-right: .5rem;
}

@media screen and (max-width: 48rem) {
    .aa-section-certifications {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .aa-section-certifications article {
        flex-wrap: nowrap;
    }
}

/* ROCK THE CODE SECTION */
.aa-section__fullstack {
    background-color: var(--aa-color-n-650);
    color: var(--aa-color-n-050);
    padding: var(--aa-padding-base);
    flex-direction: column;
}

.aa-section__fullstack__rockTheCode {
    padding: var(--aa-padding-base);
    width: 43vw;

}

.aa-rockthecode-certificate {
    margin: 2rem;
    width: 30vw;
}

@media screen and (max-width: 48rem) {
    .aa-section__fullstack__rockTheCode {
        padding: var(--aa-padding-base);
        width: 60vw;

    }

    .aa-rockthecode-certificate {
        margin: 2rem;
        width: 50vw;
    }
}

/* EXPERIENCE SECTION */
#experience {
    padding: 3rem 0 3rem 0;
    flex-direction: column;
}

.aa-section-website {
    flex-direction: column;
    color: #fff;
    background-color: #015490;
    width: 100vw;
    padding: 1rem 0 2rem 0;
}

.aa-section-website article {
    width: 100vw;
    justify-content: space-around;
}

.aa-loteria-logo {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 2rem;
    padding-top: 2rem;
    height: 7rem;
}

.aa-section-business--nav li {
    padding: .7rem;
}

.aa-enlace-icono {
    border-radius: 50%;
    background-color: #ffffff;
    color: #005491;
    padding: .4rem .65rem .4rem .65rem;
    transition: all 0.4s ease-in-out;
}

.aa-enlace-icono:hover {
    background-color: #F7C200;
    color: #FFFFFF;
}

.aa-enlace-texto {
    color: #FFFFFF;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}


.aa-enlace-texto:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #F7C200;
}

@media screen and (max-width: 48rem) {
    .aa-loteria-logo {
        height: 17vw;
    }

    .aa-social-icons {
        margin-top: 2rem;
    }
}

/* RECOMENDATIONS SECTION */
.rc-section-featured {
    flex-direction: column;
    padding: var(--aa-padding-base);
}

.aa-section-products--title {
    margin: .8rem;
}

/* .rc-section-featured__gallery {
    grid-template-columns: repeat(auto-fill, minmax(300px, 0.7fr));
    grid-template-columns: repeat(auto-fill, minmax(300px, min(1fr, calc(100% / 4))));
    grid-auto-flow: dense;
    justify-content: center;
    width: 80vw;
} */

.rc-section-featured__article {
    flex-direction: column;
    text-align: center;
    background-color: #FFFFFF;
    margin: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    border: var(--aa-border-header__btn);
    border-radius: var(--aa-borde-radius);
    width: 17rem;
    height: 26rem;
}

.aa-section-featured--preview {
    width: auto;
    height: 16rem;
    padding: 1rem;
}

.aa-products-btn {
    color: var(--aa-color-n-700);
    background-color: #FFA41C;
    font-weight: 800;
    text-transform: uppercase;

    width: 10rem;

    border-radius: var(--aa-borde-radius);
    margin-top: 1rem;
    padding: .6rem;

    transition: all 0.4s ease-in-out;
}
.aa-products-btn:hover {
    background-color: rgb(255,215,18);
}


/* ------------------------------------------------------- */
/* FOOTER CHATGPT */
footer {
    background-color: #fff;
    color: black;
    padding: 1rem 0rem .6rem 0rem;
    border-top: 0.5px solid black;
}

footer a {
    color: black;
}

footer h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul.contact-info li {
    position: relative;
}


footer ul.social-icons li a {
    border: 1px solid black;
    border-radius: 50%;
    color: black;
    display: inline-block;
    height: 40px;
    line-height: 38px;
    margin-right: 10px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    width: 40px;
}

footer ul.social-icons li a:hover {
    background-color: #5DC999;
    border-color: #5DC999;
    color: #fff;
}

footer hr {
    border-color: #fff;
    /* padding: 5rem; */
    margin-bottom: 1REM;
}

footer p.text-center {
    font-size: 14px;
    margin: 0;
}

/* Media Queries */

@media (max-width: 767px) {
    footer h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    footer ul li {
        margin-bottom: 5px;
    }

    footer ul.social-icons li a {
        height: 30px;
        line-height: 28px;
        margin-right: 5px;
        width: 30px;
    }
}

.col-md-4 {
    flex-direction: column;
    padding: 1rem;
}

.col-md-12 {
    flex-direction: column;
    padding-top: .6rem;
}

.row {
    align-items: flex-start;
}

.list-unstyled {
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 47.5rem) {
    .row {
        flex-direction: column;
        align-items: center;
    }
}